<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= link_to 'Back', articles_path %>

</body>
</html>
